body {
    font-family: Arial, sans-serif;
  padding: 0 20px;
  line-height: 1.4;
background-image:url('Images/background-image.jpg')}
.main{
    width: 50%;
    margin:auto;
    text-align: center;
    margin-top:20%
}
.container {
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 1em;
    height: auto;

  }
  
.items {
    font-size: 20px;
    width: 15%;
    background: #007ed3;
    border: solid 2px #305077;
    margin: 5px;
    text-align: center;
    font-size: 4em;
    color: white;
    font-weight: bold;
    line-height: 1.4;
  }
  .ampm{
    width: 10%;
    background-color: #007ed3;
    border:1px solid black;
    height:30px;
    margin-top: auto;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
  }
